<h1>Create / Edit Template</h1>

<div class="wrapper">
    <div class="templatebox">
        <div class="generalinfocaption">
            <p>Name</p>
        </div>
        <div class="generalinfo">
            <p><input type="text" value="{{ currentTemplate.title }}"></p>
        </div>
        
        <div class="stations">
            <div class="station" *ngFor="let t of currentTemplate.stations" (click)="onStationClick(t)">
                <p>{{ t.name }}</p>
            </div>
            <span><img src="../../../assets/icons/plus.png" alt="+"></span>
        </div>
    </div>
</div>
