$lightgray: #E5E5E5;
$darkgray: #A3A3A3;
$blackgray: #5B5B5B;
$lightblue: rgb(0,0,0);
$blue: rgb(0,85,151);

.wrapper{
    position: fixed;
    top: 80px;
    left: 200px;
    width: 1210px;
    background-color: white;
    border-radius: 20px;
	height: 620px;
    margin-right: 20px;
}
.wrapper p {
    font-size: 0.95em;
}
.templatebox{
    margin-top: 20px;
    margin-left: 20px;
}
.generalinfo {
    display: grid;
    grid-template-columns: 30% 25% 25% 10% 5% 5%;;
}
.generalinfocaption {
    font-weight: bold;
    color: $darkgray;
    display: grid;
    grid-template-columns: 30% 25% 25% 10% 5% 5%;;
}
h1{
    font-size: 1.2em;
    position: fixed;
    top: 28px;
    color: $blackgray;
    left: 200px;
}
