<h1>CREATE / EDIT TOURS</h1>
<h2>TEMPLATES</h2>
<div class="createtourwrapper">
    <div class="tourbox">
        <div class="createtourcontentwrapper">
            <div class="generalinfocaption">
                <p>Name</p>
                <p>Date and Time</p>
                <p>Guide</p>
                <p>Reversible</p>
            </div>
            <div class="generalinfo">
                <p><input id="title" type="text" value="{{ currentTour.title }}"></p>
                <p><input id="date" type="datetime-local" value="{{ dateformated() }}"></p>
                <p><input id="guide" type="text" value="{{ currentTour.guide }}"></p>
                <p><input type="checkbox" id="reversible"></p>

                <p (click)="save()">[S]</p>
                <p (click)="delete()">[D]</p>
            </div>
            
            <div class="stations">
                <p>Stations</p>
                <div class="stationwrapper">
                    <div id="selstations" class="station">
                        <p *ngFor="let s of sortedStations" (click)="onStationClick(s)" id="{{ s.id }}">{{ s.name }}</p>
                    </div>

                    <jw-modal id="ov_stations">
                        <div id="allstationsdiv">
                            <p *ngFor="let st of allStations" id="{{ st.id }}" class="notselected" (click)="onstationclick(st.id)">{{ st.name }}</p>
                        </div>
                        <input type="button" (click)="closemodal()" value="[ Close ]">
                    </jw-modal>

                    <div class="stationplus">
                        <p (click)="addStationtoTour()">+</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="templates">
		
	</div>	
</div>