<h1>CREATE / EDIT TOURS</h1>
<h2>TEMPLATES</h2>
<div class="createtourwrapper">
    <div class="tourbox">
        <div class="createtourcontentwrapper">
            <div class="generalinfocaption">
                <p>Name</p>
                <p>Date and Time</p>
                <p>Guide</p>
                <p>Reversible</p>
                <p>Languages</p>
            </div>
            <div class="generalinfo">
                <p><input id="title" type="text" value="{{ currentTour.title }}"></p>
                <p><input id="date" type="datetime-local" value="{{ dateformated() }}"></p>
                <p><input id="guide" type="text" value="{{ currentTour.guide }}"></p>
                <p><input type="checkbox" id="reversible" [checked]="currentTour.reversible"></p>
                <div class="languagebox">
                    <select id="language">
                        <option id="-1" selected>-- all languages --</option>
                        <option *ngFor="let lang of languages" id="{{ lang.id }}" [selected]="lang.id == currentTour.language_id">
                            {{ lang.name }}
                        </option>
                    </select>
                </div>

                <span (click)="save()"><img src="../../../assets/icons/save.png" alt="Save"></span>
                <span (click)="delete()"><img src="../../../assets/icons/trash.png" alt="Delete"></span>
            </div>
            
            <div class="stations">
                <p>Stations:</p>
                <div class="stationwrapper">
                    <div id="selstations" class="station">
                        <p *ngFor="let s of sortedStations">
                            <input type="button" id="{{ s.id }}" (click)="move('up', s)">
                            <span (click)="openmodal_media(s)" id="{{ s.id }}">{{ s.name }}</span>
                            <input type="button" id="{{ s.id }}" (click)="move('down', s)">
                        </p>
                    </div>

                    <jw-modal id="ov_stations">
                        <div id="allstationsdiv">
                            <p *ngFor="let st of allStations" id="{{ st.id }}" [ngClass]="{'selected': st.selected, 'notselected': !st.selected}" (click)="onstationclick(st)">{{ st.name }}</p>
                        </div>
                        <span (click)="closemodal()"><img src="../../../../assets/icons/x.png" alt=""></span>
                    </jw-modal>

                    <span (click)="openmodal()" class="stationsplus"><img src="../../../assets/icons/plussymbol_leer.png" alt="+"></span>
                </div>

                <jw-modal id="ov_medias">
                    <div class="mediawrapper">
                        <div class="mediabox">
                            <p>Elements</p>
                            <div id="medias" class="medias">
                                <p  *ngFor="let m of sortedMedia" id="{{ m.id }}" [ngClass]="{'active': m.active, 'inactive': !m.active}" (click)="onmediaclick(m)" >
                                    {{ m.caption }} {{ m.text }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <span (click)="closemodal_media()"><img src="../../../../assets/icons/x.png" alt=""></span>
                </jw-modal>
            </div>
        </div>
    </div>
    <div class="templates">
        <p *ngFor="let t of templates" id="{{t.id}}" (click)="ontemplateclick(t)">{{ t.title }}</p>
	</div>	
</div>