<h1>CREATE / EDIT TOURS</h1>
<h2>TEMPLATES</h2>
<div class="createtourwrapper">
    <div class="tourbox">
        <div class="createtourcontentwrapper">
            <div class="generalinfocaption">
                <p>Name</p>
                <p>Date and Time</p>
                <p>Guide</p>
                <p>Reversible</p>
            </div>
            <div class="generalinfo">
                <p><input id="title" type="text" value="{{ currentTour.title }}"></p>
                <p><input id="date" type="datetime-local" value="{{ dateformated() }}"></p>
                <p><input id="guide" type="text" value="{{ currentTour.guide }}"></p>
                <p><input type="checkbox" id="reversible" [checked]="currentTour.reversible"></p>

                <span (click)="save()"><img src="../../../assets/icons/save.png" alt="Save"></span>
                <span (click)="delete()"><img src="../../../assets/icons/trash.png" alt="Delete"></span>
            </div>
            
            <div class="stations">
                <p>Stations:</p>
                <div class="stationwrapper">
                    <div id="selstations" class="station">
                        <p *ngFor="let s of sortedStations">
                            <input type="button" id="{{ s.id }}" (click)="move('up', s.ordernumber)">
                            <span (click)="onStationClick(s , currentTour)" id="{{ s.id }}">{{ s.name }}</span>
                            <input type="button" id="{{ s.id }}" (click)="move('down', s.ordernumber)">
                        </p>
                    </div>

                    <jw-modal id="ov_stations">
                        <div id="allstationsdiv">
                            <p *ngFor="let st of allStations" id="{{ st.id }}" [ngClass]="{'selected': st.selected, 'notselected': !st.selected}" (click)="onstationclick(st)">{{ st.name }}</p>
                        </div>
                        <span (click)="closemodal()"><img src="../../../../assets/icons/x.png" alt=""></span>
                    </jw-modal>

                    <span (click)="openmodal()" class="stationsplus"><img src="../../../assets/icons/plussymbol_leer.png" alt="+"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="templates">
        <app-templates></app-templates>	
	</div>	
</div>