<div class="stationwrapper">
    <h1>CREATE / EDIT ELEMENTS</h1>

    <div class="stationbox">
        <div class="generalinfo">
            <p><span>Name: </span> <input id="name" type="text" value="{{ currentstation.name }}"></p>
            <div class="areabox">
                <select id="area">
                    <option id="-1" selected>-- please select area --</option>
                    <option *ngFor="let a of sortedArea" id="{{ a.id }}" [selected]="a.id == currentstation.area_id">{{ a.title }}</option>
                </select>
            </div>
            <span (click)="save()"><img src="../../../assets/icons/save.png" alt="Save"></span>
            <span (click)="delete()"><img src="../../../assets/icons/trash.png" alt="Delete"></span>
        </div>
        
        <div class="media">
            <p>Medias: </p>
            <div class="media" id="mediaoutput">
                <p *ngFor="let m of sortedMedia" (click)="deleteMedia(m.id)">{{ m.caption }} {{ m.text }} {{ m.destinationurl }}</p>
            </div>

            <span (click)="openmodal()"><img src="../../../assets/icons/plussymbol_leer.png" alt=""></span>
            <jw-modal id="ov_media">
                <div class="areabox">
                    <p>Please select Language for the entered Medias below:</p>
                    <select id="language">
                        <option id="-1">-- please select language --</option>
                        <option *ngFor="let l of sortedLanguages" id="{{ l.id }}">{{ l.name }}</option>
                    </select>
                </div>
                <div id="ov_div">
                    <p>Please enter Text here:</p>
                    <input type="text" id="mediainput">
                </div>
                <span (click)="closemodal()">
                    <img src="../../../assets/icons/x.png" alt="X">
                    <img src="../../../assets/icons/save.png" alt="">
                </span>
            </jw-modal>
        </div>
    </div>
</div>
