$lightgray: #E5E5E5;
$darkgray: #A3A3A3;
$lightblue: rgb(0,0,0);
$blue: rgb(0,85,151);

*{
	font-family: Helvetica;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid $darkgray;
    color: black;
    font-weight: bold;
    width: 200px;
    padding: 5px;

}
select{
    padding: 5px;
    color: $darkgray;
    font-weight: bold;
    border-radius: 20px;
}
.templates{
    position: fixed;
    font-weight: bold;
    left: 84.5%;
    top: 80px;
    background-color: white;
    width: 190px;
    border-radius: 20px;
    height: 620px;
}
.templates p{
    text-align: center;
}
.templateswrapper {
    margin-top: 40px;
}
.templateplus{
    text-align: center;
}