$lightgray: #E5E5E5;
$darkgray: #A3A3A3;
$lightblue: rgb(0,0,0);
$blue: rgb(0,85,151);

.templates{
    position: fixed;
    font-weight: bold;
    right: 30px;
    top: 80px;
    background-color: white;
    width: 190px;
    border-radius: 20px;
    height: 620px;
}
.templates p{
    text-align: center;
}
.templateswrapper {
    margin-top: 40px;
}
.templateplus{
    border: 1px solid $darkgray;
    border-radius: 1000px;
    height: auto;
    width: 30px;
}