

<body>
	<!--<a routerLink="" routerLinkActive="active"><img src="assets/images/logo.jpg"></a>-->

	
	<div class="navbar">
		<div class="navbartext">
			<div class="navbartoursbox">
				<a routerLink="" routerLinkActive="active" class="tours">Tours</a><br/>	
			</div>
			<div class="navbarstationsbox">
				<a routerLink="/stations" routerLinkActive="active">Stations</a><br/>
			</div>
			<div class="navbarmediaspacebox">
				<a routerLink="/mediaspace" routerLinkActive="active">Mediaspace</a><br/>
			</div>
			<div class="navbarlanguagebox">
				<a routerLink="/languages" routerLinkActive="active">Languages</a><br/>
			</div>
		</div>
	</div>
	

	<router-outlet></router-outlet>
</body>
