<h1>SELECT ELEMENTS</h1>

<div class="mediawrapper">
    <div class="mediabox">
        <p>Elements</p>
            <div class="medias">
            <div class="media" *ngFor="let m of sortedMedia" (click)="onmediaclick(m.id, m)">
                <p class="active" id="{{ m.id }}"> {{ m.caption }} {{ m.text }}</p>
            </div>
            <input type="button" (click)="openmodal()" value="+">
            <jw-modal id="ov_stations">
                <div id="allmedia">
                    <p *ngFor="let med of allmedia" id="{{ med.id }}" class="inactive" (click)="onmediaclick(med.id)">{{ med.caption }} {{ med.text }}</p>
                </div>
                <input type="button" (click)="closemodal()" value="[ Close ]">
            </jw-modal>
        </div>
    </div>
</div>




