.medias .active{
    color: green;
}

.medias .inactive{
    color: red;
}

$lightgray: #E5E5E5;
$darkgray: #A3A3A3;
$blackgray: #5B5B5B;
$lightblue: rgb(0,0,0);
$blue: rgb(0,85,151);

*{
    font-size: 0.95em;
}
.mediawrapper{
    position: fixed;
    top: 80px;
    left: 200px;
    width: 1210px;
    background-color: white;
    border-radius: 20px;
	margin-bottom: 20px;
	height: 620px;
	margin-right: 20px;
}
.mediabox{
    position: fixed;
}

h1{
    font-size: 1.2em;
    position: fixed;
    top: 28px;
    color: $blackgray;
    left: 200px;
}
.mediabox {
    margin: 20px;
    width: 1210px;
}
.mediabox > p{
    font-weight: bold;
}
.medias {
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    margin-right: 20px;
}
.mediabox p {
    color: $darkgray;
}