<div class="stationswrapper">
    <h1>CREATE / EDIT STATIONS</h1>

    <div class="areabox">
        <span>Area: </span>
        <select id="area">
            <option id="-1" selected>-- all --</option>
            <option *ngFor="let a of sortedArea" id="a.id">{{ a.title }}</option>
        </select>
    </div>

    <div class="stationsbox">
        <p *ngFor="let t of sortedStations" (click)="onStationClick(t)" id="{{ t.id }}" class="stationitem">{{ t.name }}</p>
        
        <span (click)="onStationClick(standardStation)"><img src="../../../assets/icons/plus.png" alt="+"></span>
    </div>
</div>