<h1>CREATE / EDIT TOURS</h1>
<h2>TEMPLATES</h2>
<div class="wrapper">
	<div class="toursbox">
		<div class="tourscaption">
			<p>Date</p>
			<p>Name</p>
			<p>Guide</p>
		</div>
		<div class="toursitem" *ngFor="let tour of sortedTours;" (click)="onTourClick(tour)">
			<div class="datewrapper">
				<p class="date">{{tour.date | date:'dd.LL.yyyy / HH:mm' }} </p>
			</div>
			<p class="name">{{ tour.title }} </p>
			<p class="guide">{{ tour.guide }}</p>
		</div>
		<span (click)="onTourClick(standardTour)" class="newtourplus"><img src="../../../assets/icons/plus.png" alt="+"></span>
		<span (click)="createZIPtours()"><img src="../../../assets/icons/zipicon.png" alt="Create ZIPs"></span>
	</div>
	
	
	<div class="templates">
		<app-templates></app-templates>
	</div>	

</div>