$lightgray: #E5E5E5;
$darkgray: #A3A3A3;
$lightblue: rgb(0,0,0);
$blue: rgb(0,85,151);

*{ 
    font-family: Helvetica;
    margin-left: 0;
    margin-top: 0;
}

.wrapper{
    background-color:$lightgray;
}